<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div> -->
            <hr>
            <div class="row">

                <div class="col-md-12">
                    <h3><span class="glyphicon glyphicon-link"></span> Biketown Bike Bounties</h3>
                    <p class="small">A node.js app displaying the bikes which are out of station and have a 'bounty'. When a biketown user opts to stop using the bike without returing it to a station, biketown offers other users a small bounty, (2 dollars) as a credit to their account.</p>
                    <div class="alert alert-info" role="alert">
                        <h3>Current bounties: <%= results.length %></h3>
                      </div>

                    <ul>
                        <% results.forEach(function(r) { %>
                            <li>
                                <%= r.bike_id %> -
                                    <%= r.name %> -
                                        <%= r.lat %>
                                        ,
                                            <%= r.lon %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
            <!-- row -->

        </div>


</body>

</html>
